# В боте так-же был магазин. 
# Я не собираюсь публиковать финансовый аспект бота, чтобы его
# нельзя было переделать под настоящее казино
*cashout*
*balance*
*replenish*
*market*
*payment*
*qiwi*
*donut*


# Конфигурации и доп. файлы
/misc
/dist
deploy.sh