{
  "arrowParens": "avoid",
  "tabWidth": 2,
  "semi": true,
  "useTabs": false,
  "trailingComma": "none",
  "singleQuote": false,
  "endOfLine": "lf",
  "quoteProps": "as-needed",
  "embeddedLanguageFormatting": "auto"
}
